<section>
  <div class="container mt-5">
    <div class="row">

      <div class="col-md-13">
        <h2 class="text-center">Add Products</h2>
        <form action="/admin/add-products" enctype="multipart/form-data" method="POST">
          <label for="">Name</label>
          <input type="text" name="name" class="form-control">

          <label for="">Category</label>
          <input type="text" name="Category" class="form-control">

          <label for="">Description</label>
          <input type="text" name="Description" class="form-control">

          <label for="">Image</label>
          <input type="file" name="Image" class="form-control">

          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
      </div>

    </div>
  </div>
</section>