<h1 style="text-align: center; padding-top: 10px;">404 Page Error;We're Working On this Please Come Back Later</h1>
<h5 style="text-align: center;">Page {{error.message}}</h5>

<image class="error_image" src="/images/404.svg" alt="" width="800px" />

<h2>{{error.status}}</h2>
