
 
   <div>
    <div class="card text-center mt-2">
      <div class="card-body">
        <h5 class="card-title">Sign in Or Sign up</h5>
        <p class="card-text">Sign In Or Sign Up Now And Shop Your Things Now.</p>
        <a href="/Signup" class="btn btn-success">Sign Up Now</a>
      </div>
    </div>
  </div>

  <section>
    <div class="container mt-5">
      <div class="row">

        <div class="container">
          <h5 class="card-title text-center">Featured Products</h5>
        </div>

        {{#each products}}

        <div class="col-md-3 mt-3 ml-10">
          <div class="card" style="width: 18rem;">
            <img style="width: 200px; height: 220px;" src={{this.image}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.description}}</p>
              <a href="#" class="btn btn-success">See Product</a>
            </div>
          </div>
        </div>

        {{/each}}

      </div>
    </div>
  </section>