.error_image {
    margin-left: 270px;
    padding-top: 20px;
}

* {
    background-color: white;
}



@media only screen and (max-width: 700px) {
  body {
    background-color: white;
    }
    
  .error_image {
      margin-left: 10px;
      padding-top: 20px;
      width: auto;
    }
}
